1st Tutorial/flows.json
[
    {
        "id": "7a030ef83649497c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "58ffae9d.a7005",
        "type": "debug",
        "z": "7a030ef83649497c",
        "name": "",
        "active": true,
        "complete": false,
        "x": 1090,
        "y": 640,
        "wires": []
    },
    {
        "id": "17626462.e89d9c",
        "type": "inject",
        "z": "7a030ef83649497c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 210,
        "y": 640,
        "wires": [
            [
                "72e84693909eeff0"
            ]
        ]
    },
    {
        "id": "72e84693909eeff0",
        "type": "http request",
        "z": "7a030ef83649497c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 640,
        "wires": [
            [
                "3d282d77e62c52e8"
            ]
        ]
    },
    {
        "id": "3d282d77e62c52e8",
        "type": "csv",
        "z": "7a030ef83649497c",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": false,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 730,
        "y": 640,
        "wires": [
            [
                "58ffae9d.a7005",
                "c72f4310948ec890"
            ]
        ]
    },
    {
        "id": "c72f4310948ec890",
        "type": "switch",
        "z": "7a030ef83649497c",
        "name": "",
        "property": "payload.mag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "7",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 870,
        "y": 800,
        "wires": [
            [
                "7e98b5a7e74ee4ed"
            ]
        ]
    },
    {
        "id": "7e98b5a7e74ee4ed",
        "type": "change",
        "z": "7a030ef83649497c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PANIC!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 800,
        "wires": [
            [
                "4b0550e9ccd66f0c"
            ]
        ]
    },
    {
        "id": "4b0550e9ccd66f0c",
        "type": "debug",
        "z": "7a030ef83649497c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 800,
        "wires": []
    }
]